/**
 * Solarized Dark theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Martel:200,700|Roboto+Condensed:300,400,700');
/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$text: lighten(#484e5f, 15%);
$teal: #57aaba;
$orange: #e57200;
$blue: #232d4b;
$barely: #e7eeee;
$blue2: #294662;
$orange2: #FC610D;



// Override theme settings (see ../template/settings.scss)
$mainColor: $base1;
$headingColor: white;
$headingTextShadow: none;
$backgroundColor: $blue;
$linkColor: $teal;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $barely;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.orange-txt {
	color: $orange;
}

.two-col {
	column-count: 2;
	column-gap: 5vw;
}

.reveal a.separated {
	display: block;
	margin-top: 2vw;
	text-decoration: underline;
}

.reveal .slides section.xl {
	width: 140%;
	margin-left: -20%;
}

.boxed {
	border: 4px dotted $orange !important;
	padding: 40px !important;
}

.flex .boxed {
	flex: 1; 
}

.reveal h5 {
	font-size: 28px;
	color: $teal;
}

ul.file-structure {
	font-size: 18px;
	font-family: monospace;
	list-style: none;
	text-align: left;
	background-color: #3f3f3f;
	padding: 20px 40px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	ul {
		list-style: none;
		ul {
			list-style: none;
		}
	}
}

.reveal pre {
	box-shadow: none;
	code {
		box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
	}
}

.flex {
	display: flex;
}
